<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 设置初始宽度为设备宽度，不放缩 -->
    <meta name="viewport" content="width=device-width,initial-scal=1">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "rank/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "rank/css/CompanySearch.css" %}">
    <script src="{% static "rank/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "rank/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rank/js/bootstrap-paginator.js" %}"></script>
    <script type="text/javascript">
        var data_list = {{ data_list | safe }};
        var PERPAGE_DATA_NUM = {{ perpage_data_num | safe }};
        var TOTAL_PAGE_NUM = {{ total_page_num | safe }}
        var CURRENT_PAGE_NUM = {{ current_page_num | safe }};
    </script>
    <script src="{% static "rank/js/CompanySearch.js" %}" charset="utf-8"></script>

</head>

<body>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">网络安全排名</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--“查询”页面默认是选中的-->
                <li class="active"><a href="#">查询</a></li>
                <li><a href="#">排名</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <!--搜索框-->
    <div class="searchBox">
        <div class="row">
            <div class="col-lg-8">
                <input id="keyword" type="text" class="form-control" placeholder="输入名称、股东搜索">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-default" id="btn_search">搜索</button>
            </div>
        </div>
    </div>

    <!--搜索选择框-->
    <div class="selectBox">
        <div class="row">
            <div class="col-lg-1">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default btn_select" style="border-radius: 0px">上市：</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="btn-group btn-group-sm">
                    <button id="btn_a1" type="button" class="btn btn-default btn_select selected" style="border-radius: 0px;">不限</button>
                    <button id="btn_a2" type="button" class="btn btn-default btn_select" style="border-radius: 0px">是</button>
                    <button id="btn_a3" type="button" class="btn btn-default btn_select" style="border-radius: 0px">否</button>
                </div>
            </div>
        </div>
        <div style="width: 100%;height:3px;"></div>
        <div class="row">
            <div class="col-lg-1">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default btn_select" style="border-radius: 0px">状态：</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="btn-group btn-group-sm">
                    <button id="btn_b1" type="button" class="btn btn-default btn_select selected" style="border-radius: 0px">不限</button>
                    <button id="btn_b2" type="button" class="btn btn-default btn_select" style="border-radius: 0px">开业</button>
                    <button id="btn_b3" type="button" class="btn btn-default btn_select" style="border-radius: 0px">存续</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-1">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-default btn_select" style="border-radius: 0px">排序：</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="btn-group btn-group-sm">
                    <button id="btn_c1" type="button" class="btn btn-default btn_select selected" style="border-radius: 0px">名称</button>
                    <button id="btn_c2" type="button" class="btn btn-default btn_select" style="border-radius: 0px">评分</button>
                    <button id="btn_c3" type="button" class="btn btn-default btn_select" style="border-radius: 0px">成立时间</button>
                    <button id="btn_c4" type="button" class="btn btn-default btn_select" style="border-radius: 0px">注册资本</button>
                </div>
            </div>
        </div>
    </div>

    <!--列表区域-->
    <div class="listBox">
        <ul class="list-group" id="template_list">
            <li class="list-group-item list_custom">
                <div class="row" style="margin: auto 0px">
                    <h2 class="col-lg-10">{ CompanyName }</h2>
                    <div class="col-lg-1 col-lg-offset-1">
                        <button class="btn btn-default" style="margin:20px 0px">编辑</button></div>
                </div>
                <div class="row">
                    <p class="col-lg-11 multiline">{ CompanyDescription }</p>
                </div>
                <div class="row">
                    <div style="margin-left: 15px">
                        <div class="col-lg-2">
                            <label>注册时间：</label>
                            <label>{ CompanyRegistTime }</label>
                        </div>
                        <div class="col-lg-2">
                            <label>法人代表：</label>
                            <label>{ CompanyArtificialPerson }</label>
                        </div>
                        <div class="col-lg-4 singleline">
                            <label>地点：</label>
                            <label>{ CompanyLocation }</label>
                        </div>
                        <div class="col-lg-4 singleline">
                            <label>官网：</label>
                            <label>{ CompanyWebsite }</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-group" id="template_list_content"></ul>
    </div>

    <!--分页区域-->
    <div class="pageBox">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" style="text-align: center">
                <div>
                    <ul id='pages'></ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>